/* MOBILE FIRST APPROACH!!! */

* {
	box-sizing: border-box;
}

header {
	padding: 1em;
	position: relative;
	background-color: SandyBrown;
}

body {
	background-color: orange;
}

.logo-wrapper {
	text-align: center;
	margin-bottom: 10px;
}

.logo {
	width: 100px;
	height: 100px;
	border: 2px solid black;
	border-radius: 50%;
	transition: all .5s;
}
.logo:hover {
  transform: scale(1.2) rotate(5deg);
}

.name {
	text-align: center;
	text-shadow: 2px 2px 1px #222;
	font-family: Impact, Georgia;
	font-style: italic;
	letter-spacing: 0.125em;
	font-size: 1.25em;
	margin-bottom: 1em;
	color: white;
}

nav ul {
	margin: 0;
	text-align: center;
}

nav ul li {
	list-style-type: none;
	margin-bottom: 1.5em;
}

nav a {
	font-family: Impact, Georgia;
	font-style: italic;
	text-shadow: 2px 2px 1px #222;
	text-decoration: none;
	position: relative;
	left: -1.25em;
	letter-spacing: 0.125em;
	font-size: 1.25em;
	color: white;
	padding: 5px;
}

nav a:hover {
	color: orange;
}

.current {
	text-decoration: underline;
}

.wrapper {
	color: black;
	background-color: DarkSalmon;
	min-height: calc(100vh - 40px);
	padding: 16px 0;
	text-align: center;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.wide-wrapper {
	color: black;
	background-color: DarkSalmon;
	min-height: calc(100vh - 40px);
	padding: 16px 0;
	text-align: center;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.placeholder {
	width: 90%;
	height: 150px;
	border: 2px solid black;
}
.placeholder:hover {
	opacity: 0.75;
    filter: alpha(opacity=75);
    transition: 1s ease-in-out;
}

footer {
	background-color: orange;
	min-height: 40px;
	position: relative;
	text-align: center;
}

.copyright {
	position: relative;
	top: 10px;
}

.social {
	display: inline-block;
	list-style-type: none;
	text-align: center;
	position: relative;
	width: 90%;
}

.social li{
	display: inline-block;
	width: 25px;
	position: relative;
	height: 25px;
	left: -25px;
	margin: 0 7.5px;
}

.social-img {
	width: 25px;
	height: 25px;
	border-radius: 20%;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/* HOME PAGE */
.banner {
	/* Gradient Fits in very nice! */
	background: linear-gradient(180deg, SandyBrown, transparent 90%), 
	url('https://blautoothdmand.files.wordpress.com/2017/10/train_18.png?w=809');

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 300px;
}

#home-content {
	line-height: 1.5em;
	font-size: 1.05rem;
	font-family: Trebuchet MS;
}

.home-section p {
	width: 90%;
	margin: 1rem auto;
}

.skills {
	list-style-type: none;
	text-align: center;
	margin: 0;
  	padding: 0;
}

.skills li {
	display: inline-block;
	padding: 5px;
	margin: 0.5rem auto;
	border: 2px solid black;
	border-radius: 10px;
	width: 30%;
	font-size: 0.75em;
	font-weight: bold;
}

.proficient {
	background-color: green;
	color: white;
}
.semi-proficient {
	background-color: #e8d71c;
	color: black;
}
.prior-experience {
	background-color: red;
}
.proficient-b {
	background-color: green;
	color: white;
	padding: 2px;
	border: 2px solid black;
	border-radius: 10px;
}
.semi-proficient-b {
	background-color: #e8d71c;
	padding: 2px;
	border: 2px solid black;
	border-radius: 10px;
}
.prior-experience-b {
	background-color: red;
	padding: 2px;
	border: 2px solid black;
	border-radius: 10px;
}


q {
	font-style: italic;
}

/* HOME PAGE */

/* PROJECTS PAGE */

.project-image-wrapper {
	width: 90%;
	margin: 1rem auto;
}
.temp-image-wrapper {
	width: 100%;
	height: 100%;
	margin: auto auto;
	background-color: red;
}

.row {
	width: 100%;
}
.row-last {
	width: 100%;
}
.card {
	width: 80%;
	height: 200px;
	background-color: SandyBrown;
	display: inline-block;
	text-align: center;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	margin-bottom: 100px;
}
.card-last {
	width: 80%;
	height: 200px;
	background-color: DarkSalmon;
	display: inline-block;
	text-align: center;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	margin-bottom: 100px;
}

.project-image {
	width: 90%;
	height: 150px;
	border: 2px solid black;
}
.temp-image {
	width: 100%;
	height: 100%;
}

.project-video {
	width: 90%;
	height: 150px;
	border: 2px solid yellow;
}

.project-section p {
	width: 90%;
	margin: 1rem auto;
	font-family: Trebuchet MS;
}

.temp-section {
	/*width: 150px;*/
	width: 40%;
	height: 150px;
	margin: auto auto;
	font-family: Trebuchet MS;
	background-color: green;
	display: inline-block;
}

.project-border {
	background-color: SteelBlue;
	width: 95%;
	height: 2px;
	margin: 1rem auto;
}
.temp-border {
	background-color: SteelBlue;
	width: 95%;
	height: 2px;
	margin: 1rem auto;
}

.technologies {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.technologies li {
	display: inline-block;
	border: 1px solid black;
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 6px;
	background-color: #0399ff;
	color: white;
}

/* PROJECTS PAGE */

/* ABOUT PAGE */

.about-content {
	width: 95%;
	margin: 1rem auto;
	line-height: 1.5em;
	font-size: 1.05rem;
	font-family: Trebuchet MS;
}

.about-image {
	width: 85%;
	min-height: 100px;
	margin: 0 auto;
	border: 1px solid black;
}

/* ABOUT PAGE */

/* CONTACT PAGE */

.icon {
	width: 25px;
	height: 25px;
	position: relative;
	top: 5px;
	left: -10px;
}

form {
	width: 90%;
	margin: 0 auto;
}

label {
	display: block;
	width: 100%;
}

input {
	display: block;
	width: 100%;
	margin-bottom: 1rem;
}

textarea {
	display: block;
	height: 75px;
	width: 100%;
	margin-bottom: 1rem;
}

button {
	display: block;
	height: 50px;
	position: relative;
}

/* CONTACT PAGE */

/* MOBILE FIRST APPROACH!!! */

/* Smallest Media Query */
@media (min-width: 450px) {

	nav ul li {
		display: inline-block;
	}
}

/* Middle Media Query */
@media (min-width: 750px) {

	.logo-wrapper {
		float: left;
		margin-right: 50px;
	}

	.logo {
		width: 60px;
		height: 60px;
	}

	.name {
		position: absolute;
		font-size: 1.75rem;
		top: 32px;
		left: 5.5rem;
	}

	nav {
		width: fit-content;
		float: right;
	}

	nav ul li {
		position: relative;
		top: 20px;
	}

	.wrapper {
		width: 90%;
		margin: 0 auto;
		border-left: 2px solid black;
		border-right: 2px solid black;
	}

	/* HOME PAGE */

	.home-section {
		display: inline-block;
		vertical-align: top;
		width: 45%;
		margin: 1rem 1rem;
		border: 2px solid black;
		background-color: SandyBrown;
		border-radius: 15px;
	}

	.skills li {
		width: 45%;
	}

	/* HOME PAGE */

	/* PROJECTS PAGE */

	.project-section {
		border: 2px solid black;
		border-radius: 10px;
		width: 90%;
		margin: 1rem auto;
		padding: 5px;
		background-color: SandyBrown;
	}

	.project-section p {
		margin: 1rem 1rem;
	}

	.project-image-wrapper {
		float: left;
		width: 35%;
		height: 275px;
		margin: 1rem 1rem;
	}

	.project-image {
		width: 100%;
		height: 100%;
	}

	.video-image {
		width: 100%;
		height: 100%;
	}

	.project-description-wrapper {
		float: right;
		width: 55%;
		text-align: left;
		margin: 1rem 0;
	}
	.card {
		width: 40%;
		height: 200px;
		background-color: SandyBrown;
		margin-right: 2%;
		margin-left: 2%;
		margin-bottom: 150px;
	}
	.card-last {
		width: 40%;
		height: 200px;
		background-color: DarkSalmon;
		margin-right: 2%;
		margin-left: 2%;
	}

	/* PROJECTS PAGE */

	/* ABOUT PAGE */

	.about-content {
		margin: 1rem auto;
		font-size: 1.05rem;
	}

	.about-image {
		width: 40%;
		float: right;
		margin: 1rem;
	}

	/* ABOUT PAGE */

	/* CONTACT PAGE */
	.svg-icon-section {
		display: inline-block;
		width: 40%;
	}

	form {
		margin-top: 1rem;
		width: 80%;
	}
	/* CONTACT PAGE */
}

/* Largest Media Query */
@media (min-width: 980px) {

	.wrapper {
		width: 80%;
		margin: 0 auto;
	}

	/* HOME PAGE */

	.home-section {
		width: 30%;
	}

	/* HOME PAGE */

	/* PROJECTS PAGE */

	.project-section {
		border: 2px solid black;
		width: 90%;
		padding: 5px;
	}

	.project-section p {
		margin: 1rem 1rem;
	}

	.project-image-wrapper {
		float: left;
		width: 25%;
		height: 275px;
		margin: 1rem 1rem;
	}
	.row {
		display: flex;
    	justify-content: space-between;
    	margin-bottom: 100px;
	}
	.row-last {
		display: flex;
    	justify-content: space-between;
    	margin-bottom: 100px;
    	width: 50%;
	}
	.card {
		width: 20%;
		height: 350px;
		margin: 0 auto;
		background-color: SandyBrown;
		display: inline-block;
		text-align: center;
		border-bottom-right-radius: 15px;
		border-bottom-left-radius: 15px;
		border: 1px solid gray;
	}
	.card-last {
		width: 20%;
		height: 350px;
		margin: 0 auto;
		background-color: DarkSalmon;
		display: inline-block;
		text-align: center;
		border-bottom-right-radius: 15px;
		border-bottom-left-radius: 15px;
	}
	/*.home-section {
		display: inline-block;
		vertical-align: top;
		width: 45%;
		margin: 1rem 1rem;
		border: 2px solid black;
		background-color: SandyBrown;
		border-radius: 15px;
	}*/

	.temp-image {
		height: 55%;
		margin-bottom: 15px;
	}
	.temp-description {
		text-align: left;
		margin-left: 10px;
		font-family: monospace;
	}
	.temp-border {
		background-color: SteelBlue;
		width: 95%;
		height: 2px;
		margin: 1rem auto;
	}

	/*.project-border {
		background-color: SteelBlue;
		width: 95%;
		height: 2px;
		margin: 1rem auto;
	}*/

	.project-image {
		width: 100%;
		height: 100%;
	}

	.project-video {
		width: 100%;
		height: 100%;
	}

	.project-description-wrapper {
		float: right;
		width: 70%;
		text-align: left;
		margin: 1rem 0;
	}

	/* PROJECTS PAGE */

	/* ABOUT PAGE */

	/* ABOUT PAGE */

	/* CONTACT PAGE */
	.svg-icon-section {
		display: inline-block;
		width: 30%;
	}
	form {
		width: 70%;
	}
	/* CONTACT PAGE */
}